1.How to create a series from a list, numpy array and dict?

In [ ]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

2.How to convert the index of a series into a column of a dataframe?

In [ ]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

3.How to combine many series to form a dataframe?

In [ ]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

4.How to assign name to the series’ index?

ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

5.How to get the items of series A not present in series B?

In [ ]:
From ser1 remove items present in ser2.

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

6.How to get the items not common to both series A and series B?

In [ ]:
Get all items of ser1 and ser2 not common to both.

Input

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

7.How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [ ]:
Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

Input

ser = pd.Series(np.random.normal(10, 5, 25))

8.How to get frequency counts of unique items of a series?

In [ ]:
Calculte the frequency counts of each unique value ser.

Input

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

9.How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [ ]:
From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.
Input

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

10.How to bin a numeric series to 10 groups of equal size?

In [ ]:
Bin the series ser into 10 equal deciles and replace the values with the bin name.

Input

ser = pd.Series(np.random.random(20))

11.How to convert a numpy array to a dataframe of given shape?

In [ ]:
Reshape the series ser into a dataframe with 7 rows and 5 columns

Input

ser = pd.Series(np.random.randint(1, 10, 35))

12.How to find the positions of numbers that are multiples of 3 from a series?

In [ ]:
Find the positions of numbers that are multiples of 3 from ser.
Input

ser = pd.Series(np.random.randint(1, 10, 7))

13.How to extract items at given positions from a series

In [ ]:
From ser, extract the items at positions in list pos.

Input

ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

14.How to stack two series vertically and horizontally ?

In [ ]:
Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

Input

ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

15.How to get the positions of items of series A in another series B?

In [ ]:
Get the positions of items of ser2 in ser1 as a list.

Input
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

16.How to compute the mean squared error on a truth and predicted series?

In [ ]:
Compute the mean squared error of truth and pred series.

Input

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

17.How to convert the first character of each element in a series to uppercase?

In [ ]:
Change the first character of each word to upper case in each word of ser.

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

18.How to calculate the number of characters in each word in a series?

In [ ]:
Input

ser = pd.Series(['how', 'to', 'kick', 'ass?'])

19.How to compute difference of differences between consequtive numbers of a series?

In [ ]:
Difference of differences between the consequtive numbers of ser.

Input
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

20.How to convert a series of date-strings to a timeseries?

In [ ]:
Input

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

21.How to get the day of month, week number, day of year and day of week from a series of date strings?

In [ ]:
Get the day of month, week number, day of year and day of week from ser.

Input

ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

22.How to convert year-month string to dates corresponding to the 4th day of the month?

In [ ]:
Change ser to dates that start with 4th of the respective months.
Input

ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

23.How to filter words that contain atleast 2 vowels from a series?

In [ ]:
From ser, extract words that contain atleast 2 vowels.

Input

ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

24.How to filter valid emails from a series?

In [ ]:
Extract the valid emails from the series emails. The regex pattern for valid emails is provided as reference.

Input

emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

25.How to get the mean of a series grouped by another series?

In [ ]:
Compute the mean of weights of each fruit.

Input

fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weight.tolist())
print(fruit.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

26.How to compute the euclidean distance between two series?

In [ ]:
Compute the euclidean distance between series (points) p and q, without using a packaged formula.

Input

p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

27.How to find all the local maxima (or peaks) in a numeric series?

In [ ]:
Get the positions of peaks (values surrounded by smaller values on both sides) in ser.

Input

ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

28.How to replace missing spaces in a string with the least frequent character?

In [ ]:
Replace the spaces in my_str with the least frequent character.

Difficiulty Level: L2

Input

my_str = 'dbc deb abed gade'

29.How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?

In [ ]:
Desired output

# values can be random
2000-01-01    4
2000-01-08    1
2000-01-15    8
2000-01-22    4
2000-01-29    4
2000-02-05    2
2000-02-12    4
2000-02-19    9
2000-02-26    6
2000-03-04    6

30.How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?

In [ ]:
ser has missing dates and values. Make all missing dates appear and fill up with value from previous date.

Input

ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)
#> 2000-01-01     1.0
#> 2000-01-03    10.0
#> 2000-01-06     3.0
#> 2000-01-08     NaN
#> dtype: float64